<h2>Admin Panel</h2>
<div class="tab-panel">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li *appHasRole="['Admin']" ngbNavItem [ngbNavItem]="1" >
          <button ngbNavLink>User managment</button>
          <ng-template ngbNavContent>
            <div class="container">
                <app-user-managment></app-user-managment>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem [ngbNavItem]="2" >
           <button ngbNavLink>Photo</button>
          <ng-template ngbNavContent  >
            <div class="container">
                <app-photo-editor></app-photo-editor>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem [ngbNavItem]="3">
            <!-- <button ngbNavLink>Photos</button>
            <ng-template ngbNavContent *ngIf="nav.activeId == 3">
              <gallery  [items]="images" class="gallery"></gallery>
            </ng-template> -->
          </li>
          <li ngbNavItem [ngbNavItem]="4">
            <!-- <button ngbNavLink>Messages</button>
            <ng-template ngbNavContent>
              <app-member-messages [messages]="messages" [username]="member.userName"></app-member-messages>
            </ng-template> -->
          </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
</div>